.btnWrapper {
  position: relative;
  margin-top: 4%;
  text-align: left;
}
.btnWrapper button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #c82320;
  background-color: #c82320;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  width:55%;
}

.btnWrapper button:hover,
button:active {
  background-color: #c82333;
  border-color: #c82333;
}

.btnWrapper button.alternative {
  color: #c82333;
  border-color: transparent;
  background-color: transparent;
}

.btnWrapper button.alternative:hover,
button.alternative:active {
  background-color: #ddb3f8;
}
