.btnWrapper {
    position: relative;
    margin-top: 4%;
    text-align: left;
  }
  .btnWrapper button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #6C7570;
    background-color: #6C7570;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    width:55%;
  }
  
  .btnWrapper button:hover,
  button:active {
    background-color: #6C757D;
    border-color: #6C757D;
  }
  
  .btnWrapper button.alternative {
    color: #c82333;
    border-color: transparent;
    background-color: transparent;
  }
  
  .btnWrapper button.alternative:hover,
  button.alternative:active {
    background-color: #6C757D;
  }
  